<?xml version="1.0"?>
<launch>
<!-- front laserscanner   -->

	<!-- parameters -->
	<arg name="name_front" default="laser_1" />
        <rosparam command="load" ns="$(arg name_front)" file="$(find neo_mp_400)/configs/sick/s300_front.yaml"/>
	<!-- start node -->
	<node pkg="cob_sick_s300" type="cob_sick_s300" name="$(arg name_front)" respawn="false" output="screen" >
	</node>
	<!--start filter node-->
	<node pkg="cob_sick_s300" ns="$(arg name_front)" type="cob_scan_filter" name="$(arg name_front)_filter" respawn="false" output="screen" >
	</node>

</launch>
