<?xml version="1.0"?>

<launch>

  <arg name="env_map" default="$(find neo_mp_400)/configs/navigation/maps/$(env MAP_NAME).yaml" />

  <!-- MAP SERVER -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg env_map)">
  </node>

  <!-- Localization Node -->
  <node pkg="neo_localization" type="neo_localization_node" name="neo_localization_node">

    <remap from="/scan" to="/lidar_1/scan_filtered" />

    <rosparam file="$(find neo_mp_400)/configs/navigation/neo_localization/neo_localization.yaml" command="load" />

 </node>

</launch>
