<?xml version="1.0"?>

<launch>

                <!--robot platform-->

                <!--relayboard V2-->
                <include file="$(find neo_mp_400)/configs/relayboard_v2/relayboard_v2.launch"/>

                <!--kinematics-->
                <include file="$(find neo_mp_400)/configs/kinematics/kinematics.launch"/>


                <!--sensors-->

                <!--single s300 at the front-->
                <include file="$(find neo_mp_400)/configs/lidar/lidar.launch"/>

                <!--teleoperation-->

                <!--neobotix basic joystick node-->
                <include file="$(find neo_mp_400)/configs/teleop/teleop.launch"/>

                                <!--CPR robot-->
                                <param name="robot_type" value="igus_5DOF_SV"/>
                                <node name="igus_5DOF_SV" pkg="cpr_robot" type="igus_5DOF_SV"/>

                <!--robot model-->

                <param name="robot_description" command="$(find xacro)/xacro '$(find neo_mp_400)/robot_model/mp_400/mp_400.urdf.xacro'" />

                <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>